html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 0%;
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: none;
    overflow-x: hidden;
}

div {
    width: 1fr;
    margin: 30px;
    background-color: #f0f0f0;
    color: #3ebd02;
    padding: 30px;
    min-height: 455px;
}

a {
    text-decoration: none;
}

ul {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
    margin: 0; 
    color: #f0f0f0;
}

nav {
    width: 100%;
    background-color: #3ebd02;
    font-weight: bold;
    font-size: auto;
}

h2 {
    font-size: auto;
}

nav > ul > a {
    color: #f0f0f0;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border: none;
    padding: 35px 0;
    text-decoration: none;
    font-size: auto;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px;
}

#nav-title {
    grid-column: 7/8;
    font-size: xx-large;
    margin: auto;
}

.title {
    font-size: auto;
}

.custom-button {
    font-size: 85%;
    border-radius: 8px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #3ebd02;
    color: #f0f0f0;
    font-weight: bold;
}
.custom-button:hover {
    background-color: #cb3b1c;
    color: #f0f0f0;
}

footer {
    width: 100%;
    background-color: #3ebd02;
    text-align: left;
    margin: auto;
    padding: 30px 0;
}

footer > a {
    color: #f0f0f0;
    margin-left: 50px;
    font-size: medium;
    font-weight: bold;
}