html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 0%;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
    margin: 0; 
    color: #f0f0f0;
}

nav {
    background-color: #3ebd02;
    font-weight: bold;
}

h2 {
    font-size: 150%;
}

nav > ul > a {
    color: #f0f0f0;
    border: none;
    padding: 35px 0;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#nav-title {
    grid-column: 7/8;
    font-size: auto;
    margin: auto;
}

.title {
    font-size: auto;
}

.custom-button {
    font-size: 85%;
    border-radius: 8px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #3ebd02;
    color: #f0f0f0;
    font-weight: bold;
}
.custom-button:hover {
    background-color: #cb3b1c;
    color: #f0f0f0;
}

footer {
    width: auto;
    background-color: #3ebd02;
    text-align: left;
    margin: auto;
    padding: 30px 0;
}

footer > a {
    color: #f0f0f0;
    margin-left: 30px;
    font-size: medium;
    font-weight: bold;
}