html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    margin: 0 auto 0 auto; 
    color: #f0f0f0;
}

nav {
    background-color: #3ebd02;
    font-weight: bold;
}

.nav-button {
    color: #f0f0f0;
    border: none;
    padding: 35px 0;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#nav-title {
    margin: auto;
}

#home {
    width: auto;
    text-align: center;
    background-color: #143D01;
    color: #3ebd02;
    padding: 30px;
}

#home > a {
    border-radius: 16px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: #3ebd02;
    color: #143D01;
    font-weight: bold;
}

#home > a:hover {
    background-color: #cb3b1c;
    color: #f0f0f0;
}

footer {
    width: 100%;
    background-color: #3ebd02;
    text-align: left;
    margin: auto;
    padding: 30px 0;
}

footer > a {
    color: #f0f0f0;
    font-weight: bold;
    margin-left: 30px;
}